
.nav-name {
    font-family: 'IM Fell English', serif;
    font-style: italic;
    font-size: 50px;
    color: #C38D9E;
    font-weight: bold;
    text-transform: lowercase;
    text-align: center;
}

span.navLink {
    font-family: 'IM Fell English', serif;
    font-style: italic;
    font-size: 25px;
    color: #C38D9E;
}


