
form {
    background-color: #d6c5ca;
    padding: 50px;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    height: 650px;
}

.contact-text {
    font-family: 'IM Fell English', serif;
    font-size: 40px;
}

.contact-info {
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: center;
    font-size: 30px;
    font-style: italic;  
}

label {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    font-style:italic;
    font-weight: bold;
}

.btn.btn-primary.form {

    background-color: #41B3A3; 
    font-family: 'Open Sans Condensed', sans-serif;
    border: none;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 1px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
}


