
/* .background {
    background-image: url("https://images.unsplash.com/photo-1507646871303-331b8f659227?ixlib=rb-1.2.1&auto=format&fit=crop&w=1525&q=80.jpg");
    height: 850px;
    background-size: cover;
    background-position: center;
    position: relative;
}
    
.background::after {
content: "";
display: block;
opacity: .8;
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
background: whitesmoke;
}
  
.background * {
position: relative;
z-index: 2;
} */
