/* Hero Styling
///////////////////////////////////////////////////////////////////////////////////////////////////
*/
.hero-container {
    position: relative;
}

.hero-img {
    height: 420px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: visible;
    z-index:-1;   
}

.hero-overlay {
    position: absolute;
    z-index: 0;
    width: 100%;
}

.hero-overlay h1 {
    font-family: 'IM Fell English', serif;
    font-style: italic;
    color: #fff;
    padding-top: 80px;
    padding-right: 480px;
    font-size: 80px;
    text-align: center; 
}

/* Media Queries 
///////////////////////////////////////////////////////////////////////////////////////////////////
*/

@media (max-width: 900px) {
    .hero-overlay h1 {
        font-size: 7vw;
        padding-top: 65px;
        padding-right: 90px;
    }
    .hero-img {
        height: 350px;
    } 
}

@media (max-width: 800px) {
    .hero-overlay h1 {
        font-size: 8vw;
        padding-top: 65px;
        padding-right: 90px;
    }
    .hero-img {
        height: 320px;
    } 
}

@media (max-width: 320px) {
    .hero-overlay h1 {
        font-size: 12vw;
        padding-top: 50px;
        padding-right: 20px;
    }
    .hero-img {
        height: 250px;
    } 
}
 


